body {
    visibility: visible;
}

@font-face {
    font-family: 'Good Unicorn';
    src: url('../assets/fonts/Good-Unicorn.woff') format('woff'), url('../assets/fonts/Good-Unicorn.ttf') format('truetype');
}

@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../assets/fonts/Lucida-Sans-Unicode.woff') format('woff'), url('../assets/fonts/Lucida-Sans-Unicode.ttf') format('truetype');
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../assets/fonts/BAHNSCHRIFT.woff') format('woff');
}

.dh-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1630px;
    background: black;
    margin: 20px 90px;
}

.dh-section {
    width: 100%;
}

.dh-section--sub-header {
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    margin-bottom: 10px;
}

.dh-section--sub-header p {
    margin: auto 0px 0px 0px;
}

.dh-section--sub-header img {
    margin-bottom: 4px;
}

.dh-section--body {
    font-family: 'Lucida Sans Unicode';
    line-height: 32px;
    font-size: 20px;
    padding-right: 100px;
}

.dh-section--title {
    font-family: 'Good Unicorn';
    font-size: 80px;
}

.dh-section--intro {
    grid-column: 1 / 9;
    background: blue;
    display: flex;
    flex-direction: column;
}

.dh-section--mr-left {
    min-width: 67%;
}