:root {
    --hm-border-radius: 7px;
    --hm-gh-color: #596b76;
}

.hm-grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(12, 5.0vw);
    grid-template-rows: repeat(10, 5.0vw);
    column-gap: 20px;
    row-gap: 20px;
}

.hm-description {
    grid-column: 1/7;
    grid-row: 3/5;
    padding-right: 10px;
}

.hm-subtitle {
    display: flex;
    justify-content: space-between;
    grid-column: 1/7;
    grid-row: 2/3;
    padding-top: 20px;
}

.hm-titlescreen {
    grid-column: 7/13;
    grid-row: 1/5;
    display: flex;

    video, img {
        width: 100%;
        margin-top: auto;
        border-radius: var(--hm-border-radius);
    }
}

.hm-box {
    grid-column: 5/9;
    grid-row: 5/8;
    video, img {
        border-radius: var(--hm-border-radius);
        height: 100%;
        display: block;
        margin-left: auto;
    }
}

.hm-garbage {
    grid-column: 9/13;
    grid-row: 5/8;
    video, img {
        border-radius: var(--hm-border-radius);
        height: 100%;
        display: block;
        margin-left: auto;
    }
}

.hm-ik {
    grid-column: 1/5;
    grid-row: 5/8;
    background: var(--hm-gh-color);
    border-radius: var(--hm-border-radius);
    video, img {
        height: 127%;
        margin: auto;
        display: block;
        margin-top: -3%;
    }
}

.hm-gh-blurb-wrapper {
    grid-column: 1/9;
    grid-row: 8/10;

}

.hm-gh-blurb {
    background: var(--hm-gh-color);
    border-radius: var(--hm-border-radius);
    color: white;
    display: flex;
    font-family: 'Lucida Sans Unicode';
    font-size: 1.2vw;
    position: relative;
    img {
        height: 30px;
        margin: auto;
        display: block;
    }
    img:hover {
        cursor: pointer;
        transform: scale(1.07);
    }
}

.hm-gh-link {
    margin: auto 3% auto 3%;
}

.hm-gh-blurb:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid var(--hm-gh-color);
    left: 10%;
    top: -30px;
}

.hm-gh-blurb-button {
    margin: 18px;
    border-radius: var(--hm-border-radius);
    border: none;
    width: 53%;
    font-size: 1.3vw;
    font-weight: bold;
    text-align: right;
}


.hm-gh-blurb-text {
    margin: 18px 18px 18px 0px;
}

@media (max-width: 767px) {
    .hm-grid {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
        line-height: 0.7;
    }

    .hm-subtitle {
        padding-top: 0px;
    }
    
    .hm-titlescreen img, .hm-titlescreen video, 
    .hm-box img, .hm-box video,
    .hm-garbage img, .hm-garbage video,
    .hm-ik img, .hm-ik video {
        width: 100%;
        height: unset;
    }

    .hm-gh-blurb {
        line-height: 1.5;
        font-size: 2.7vw;
    }

    .hm-gh-blurb img {
        height: 25px;
    }
}