:root {
    --mr-border-radius: 7px;
}

text {
    font-family: 'Good Unicorn';
}

svg {
    width: 100%;
}

.mr-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, auto);
    column-gap: 20px;
    row-gap: 20px;
}

.mr-desktop-text-layout {
    padding-top: calc(350/1073 * 100%);

    background: orchid;
    grid-column: 1/9;
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
}

.mr-title {
    font-size: 116px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
}

.mr-subtitle {
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
    height: 10%;
    background: red;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 15%;
}

.mr-description {
    background: yellow;
    font-size: 1.3vw;
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    height: 45%;
}


.mr-trailer {
    grid-column: 9/13;
    grid-row: 1/9;
    background: yellow;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mr-trailer-frame {
    display: flex;
    border-radius: var(--mr-border-radius);
    overflow: hidden;
}

.aspect-ratio-box {
    overflow: hidden;
    height: 0;
    position: relative;
}

.mr-cards {
    padding-top: calc(541/386 * 100%);

    background: violet;
    grid-column: 1/4;
    grid-row: 5/9;
}

.mr-cereal {
    padding-top: calc(100%);

    background: #FEE090;
    border-radius: var(--mr-border-radius);
    grid-column: 4/6;
    grid-row: 5/7;
}

.mr-gift {
    padding-top: calc(100%);
    
    background: #FFD1D1;
    border-radius: var(--mr-border-radius);
    grid-column: 4/6;
    grid-row: 7/9;
    align-self: end;
}

.mr-sticker-lg {
    padding-top: calc(509/360 * 100%);

    background: #AAEEFE;
    border-radius: var(--mr-border-radius);
    grid-column: 1/4;
    grid-row: 9/13;
}
.mr-sticker-sm-1 {
    padding-top: 100%;

    background: #FEE090;
    border-radius: var(--mr-border-radius);
    grid-column: 4/6;
    grid-row: 9/11;
}

.mr-sticker-sm-2 {
    padding-top: 100%;

    background: #FFD1D1;
    border-radius: var(--mr-border-radius);
    grid-column: 4/6;
    grid-row: 11/13;
}

.mr-milk-bag {
    padding-top: calc(541/386 * 100%);

    background: #AAEEFF;
    border-radius: var(--mr-border-radius);
    grid-column: 6/9;
    grid-row: 5/9;
}

.mr-tiles-gif {
    padding-top: 100%;

    border-radius: var(--mr-border-radius);
    background: #5ACBF4;
    grid-column: 6/9;
    grid-row: 9/12;
}

.mr-powerups-1, .mr-powerups-2 {
    border-radius: var(--mr-border-radius);
    background: #5ACBF4;
    display: flex;
}

.mr-powerups-1 {
    padding-top: 50%;

    grid-column: 6/9;
    grid-row: 12/13;
}

.mr-powerups-2 {
    grid-column: 9/13;
    grid-row: 12/13;
}

.mr-lemoon {
    border-radius: var(--mr-border-radius);
    grid-column: 9/13;
    grid-row: 9/12;
}

.aspect-ratio-box img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ----------------------------------------- */



/* Large */

@media (min-width: 1200px) {
    .mr-grid {
        background: lime;
    }
}


/* Meidum */

@media (min-width: 768px) and (max-width: 1199px) {
    .mr-grid {
        background: orange;
    }
}


/* Small */

@media (max-width: 767px) {
    .mr-grid {
        background: olive;
        grid-template-rows: repeat(19, auto);
        grid-template-columns: repeat(24, 1fr);
        column-gap: 10px;
    }

    .mr-desktop-text-layout {
        background: plum;

        grid-column: 1/25;
        grid-row: 1/4;
    }

    .mr-trailer {
        grid-area: "mr-trailer";
        grid-column: 4/22;
        grid-row: 4/12;
    }

    .mr-title {
    }

    .mr-subtitle {
    }
    
    .mr-description {
    }

    .mr-milk-bag {
        grid-column: 1/14;
        grid-row: 12/14;
    }

    .mr-tiles-gif {
        grid-column: 15/25;
        grid-row: 12/14;
    }
    .mr-powerups-1 {
        grid-column: 15/25;
        grid-row: 13/14;
        align-self: end;
    }
    .mr-powerups-2 {
        padding-top: 20%;
        grid-column: 1/25;
        grid-row: 18/19;
    }
    .mr-cards {
        grid-column: 1/14;
        grid-row: 14/16;
    }
    .mr-cereal {
        grid-column: 16/24;
        grid-row: 14/15;
    }
    .mr-cereal img {
        background-color: plum;
        width: 50%;
    }
    .mr-gift {
        grid-column: 16/24;
        grid-row: 15/16;
        align-self: end;
    }
    .mr-sticker-lg {
        grid-column: 1/14;
        grid-row: 16/18;
    }
    .mr-sticker-sm-1 {
        grid-column: 16/24;
        grid-row: 16/17;
    }
    .mr-sticker-sm-2 {
        grid-column: 16/24;
        grid-row: 17/18;
        align-self: end;
    }
    .mr-lemoon {
        background: #FDE496;
        padding-top: 20%;
        grid-column: 1/25;
        grid-row: 19/20;
    }
}


/* Tiny */

@media (max-width: 480px) {}