:root {
    --rh-border-radius: 7px;
}

.rh-layout {
    display: flex;
    flex-direction: column;
    margin: 70px auto auto auto;
    max-width: calc(60vw + 11*20px);
}

.rh-intro {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    @media (max-width: 767px) {
        margin-bottom: 50px;
    }
}

.rh-title {
}

.rh-subtitle {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    picture, img {
        width: 25%;
        height: 100%;
    }
}

.rh-text {
    width: 50%;
    @media (max-width: 767px) {
        width: 100%;
    }
}

.rh-description {
    padding-right: 20px;
    @media (max-width: 768px) {
        font-size: 3.5vw;
        line-height: 4.9vw;
        margin-bottom: 8vw;
    }
    @media (min-width: 768px) and (max-width: 1281px) {
        font-size: 1.4vw;
        line-height: 2.3vw;
    }
}

.rh-trailer {
    padding-top: 27%;
    display: flex;
    width: 50%;
    padding-left: 20px;
    align-self: center;
    
    @media (max-width: 767px) {
        padding-top: calc(1080/1920 * 100%);
        padding-left: 0px;
        width: 100%;
    }
}

.rh-trailer-frame {
    position: absolute;
    top: 0%;
    border-radius: var(--rh-border-radius);
    overflow: hidden;
    height: 100%;
}

.rh-img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.rh-mom {
    padding-top: 100%;
    grid-column: 1/2;

    background: #B7FAD6;
    border-radius: var(--rh-border-radius);
    picture, img {
        width: 80%;
    }
}

.rh-carry {
    padding-top: 100%;
    grid-column: 2/3;
    
    background: #AFEFFA;
    border-radius: var(--rh-border-radius);
    img {
        width: 80%;
    }
}

.rh-jump {
    padding-top: 100%;
    grid-column: 3/4;

    background: #FFDBF9;
    border-radius: var(--rh-border-radius);
    img {
        width: 80%;
    }
}

.rh-dad {
    padding-top: 100%;
    grid-column: 4/5;
    
    background: #FAED88;
    border-radius: var(--rh-border-radius);
    img {
        width: 51%;
    }
}

.rh-mom img, .rh-dad img {
    position: absolute;
    top: 0%;
}

.crisp img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.rh-scene-wrapper {
    margin-top: -35px;
    overflow: hidden;
    img {
        width: 100%;
        align-self: end;
    }

    @media (max-width: 767px) {
        margin-top: 0px;
        img {
            width: 130%;
            display: block;
            margin: auto auto auto -21%;
        }
        .flexbox-centering {
            display: unset;
        }
    }
}


/* ----------------------------------------- */

@media (max-width: 767px) {
    .rh-layout {
        max-width: 88vw;
    }
    .rh-intro {
        flex-direction: column;
    }
    .rh-img-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
    }
    .rh-mom {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .rh-carry {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .rh-jump {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .rh-dad {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}