body {
    visibility: visible;
}

@font-face {
    font-family: 'Good Unicorn';
    src: url('../assets/fonts/Good-Unicorn.woff') format('woff'), url('../assets/fonts/Good-Unicorn.ttf') format('truetype');
}

@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../assets/fonts/Lucida-Sans-Unicode.woff') format('woff'), url('../assets/fonts/Lucida-Sans-Unicode.ttf') format('truetype');
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../assets/fonts/BAHNSCHRIFT.woff') format('woff');
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1630px;
    margin: 20px 90px;
}

.section {
    width: 100%;
    background: rebeccapurple;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.section-title {
    font-family: 'Good Unicorn';
    display: flex;
}

.section-subtitle {
    font-family: 'Bahnschrift';
}

.section-description {
    font-family: 'Lucida Sans Unicode';
}

.dh-section--body {
    display: none;
    --min-vw: 300;
    --max-vw: 2000;
    --min-size: 14;
    --max-size: 20;
    /* font-size: calc(var(--min-size)px+(var(--max-size) - var(--min-size)) * ((100vw - var(--min-vw)px) / (var(--max-vw) - var(--min-vw))));
    line-height: calc(32px + 1vw); */
    padding-right: 100px;
}

.dh-section--mr-left {
    min-width: 67%;
}

/* Small */

@media (max-width: 767px) {
    .page-wrapper {
        margin: 10% 15%;
    }
}