body {
    visibility: visible;
}

@font-face {
    font-family: 'Good Unicorn';
    src: url('../assets/fonts/Good-Unicorn.woff') format('woff'), url('../assets/fonts/Good-Unicorn.ttf') format('truetype');
}

@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../assets/fonts/Lucida-Sans-Unicode.woff') format('woff'), url('../assets/fonts/Lucida-Sans-Unicode.ttf') format('truetype');
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../assets/fonts/BAHNSCHRIFT.woff') format('woff');
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.section-title {
    font-size: 6vw;
    font-family: 'Good Unicorn';
    display: flex;
    @media (max-width: 767px) {
        font-size: 14.7vw;
    }
}

.section-subtitle {
    font-family: 'Bahnschrift';
    font-size: 1.7vw;
}

.section-description {
    font-family: 'Lucida Sans Unicode';
    font-size: 1vw;
    line-height: 1.8vw;
    @media (max-width: 768px) {
        font-size: 3.5vw;
        line-height: 4.9vw;
        position: unset;
    }
    @media (min-width: 768px) and (max-width: 1281px) {
        font-size: 1.4vw;
        line-height: 2.3vw;
    }
}

.allow-overflow {
    overflow: unset;
    &.aspect-ratio-box {
        overflow: unset;
    }
}

/* Small */

@media (max-width: 767px) {
    .section-subtitle {
        font-size: 4.8vw;
    }
    .section-description {
        font-size: 3.3vw;
        line-height: 6vw;
    }
}