mixin aspect-ratio-img(class_name, img_path, id='')
    div(class='aspect-ratio-box ' + class_name)
        .aspect-ratio-box-inside
            .flexbox-centering
                img(src=img_path alt='', id=id)