include aspect-ratio-img
.hm-grid
    .mr-title.section-title Handyman

    .hm-subtitle.section-subtitle
        div An iOS word game
        a(href='https://apps.apple.com/us/app/mr-makes-a-word/id1496556261')
            img(src='assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg' alt='')
    .hm-description.section-description
        | Mr. Makes-A-Word is a fun and colorful word game for iOS. In addition to 13 cooky characters to unlock, the game features over 100 levels that increase in difficulty with the player&rsquo;s skill.

    .hm-titlescreen
        img(src="assets/handyman/titlescreen.png" alt='')
    .hm-box
        //- img(src="assets/handyman/titlescreen.png" alt='')
    .hm-garbage
        //- img(src="assets/handyman/titlescreen.png" alt='')
    .hm-ik
        //- img(src="assets/handyman/titlescreen.png" alt='')