doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/../css/normalize.css' type='text/css')
    link(rel='stylesheet' href='/../css/styles.css' type='text/css')
    link(rel='stylesheet' href='/../css/mr-makes-a-word.css' type='text/css')
    link(rel='stylesheet' href='/../css/ryan-holmes.css' type='text/css')
    title Dylan Harness

.page-wrapper
    include mr-makes-a-word.pug

include milk-sploosh.pug

.page-wrapper
    include ryan-holmes.pug


script(src="scripts/main.js")
