include aspect-ratio-img

doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/normalize.css' type='text/css')
    link(rel='stylesheet' href='css/styles.css' type='text/css')
    link(rel='stylesheet' href='css/mr-makes-a-word.css' type='text/css')
    link(rel='stylesheet' href='css/ryan-holmes.css' type='text/css')
    link(rel='stylesheet' href='css/handyman.css' type='text/css')
    link(rel='stylesheet' href='css/intro.css' type='text/css')
    
    link(rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png")
    link(rel="manifest" href="assets/favicon/site.webmanifest")
    link(rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    title Dylan Harness

.page-wrapper
    include intro.pug

.page-wrapper
    include handyman.pug

.page-wrapper
    include mr-makes-a-word.pug

include milk-sploosh.pug

.page-wrapper
    include ryan-holmes.pug

.rh-scene-wrapper
    //- +aspect-ratio-img('rh-scene crisp','./assets/ryan-holmes/scene.png')
    img.rh-scene.crisp(src='./assets/ryan-holmes/scene.png' alt='')

script(src="scripts/main.js")
