include picture

.dh-intro-wrapper
    +picture('assets/intro/balloon', id=null, alt_text='', className='dh-balloon-img')
    .dh-text
        +picture('assets/intro/name', id=null, alt_text='', className='dh-name')
        .dh-headline Game Developer, Software Engineer, Digital Artist
        .dh-email dharness.engineer@gmail.com
        a.dh-website(href="https://dylanharness.com/" target="_blank") dylanharness.com
