include picture

.dh-intro-wrapper
    +picture('assets/intro/balloon', id=null, alt_text='', className='dh-balloon-img')
    .dh-text
        .dh-name Dylan Harness
        .dh-headline Game Development
        a.dh-website(href="https://linktr.ee/dylanharness") Learn More!
