include picture

.dh-intro-wrapper
    +picture('assets/intro/balloon', id=null, alt_text='', className='dh-balloon-img')
    .dh-text
        +picture('assets/intro/name', id=null, alt_text='', className='dh-name')
        .dh-headline Game Developer, Software Engineer, Digital Artist
        .dh-email dharness.engineer@gmail.com
        a.dh-website(href="https://www.linkedin.com/in/dhsoftware/" target="_blank") linkedin.com/in/dhsoftware
        a.dh-resume(href="assets/dylan_harness_resume_nov_2020.pdf" target="_blank") Résumé
