include aspect-ratio-img

.mr-grid
    .mr-desktop-text-layout.aspect-ratio-box
        .mr-title.section-title
            svg(viewbox='0 0 800 75')
                text(x='0' y=75) Mr. Makes-A-Word
            .mr-title-mobile Mr. Makes-A-Word

        .mr-subtitle.section-subtitle
            div An iOS word game
            img(src='assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg' alt='')
        .mr-description.section-description
            | Mr. Makes-A-Word is a fun and colorful word game for iOS. In addition to 13 cooky characters to unlock, the game features over 100 levels that increase in difficulty with the player&rsquo;s skill.
    .mr-trailer.aspect-ratio-box
        .aspect-ratio-box-inside
            .mr-trailer-frame.flexbox-centering
                video(controls='' width='100%')
                    source(src='./assets/videos/portrait_v1.mp4' type='video/mp4')
                    | Sorry, your browser doesn&apos;t support embedded videos.

    +aspect-ratio-img('mr-cards' ,'./assets/images/mr/cards/bobmeat.png', id='mr-cards-img')
    +aspect-ratio-img('mr-cereal' ,'./assets/images/mr/gif/cereal.gif')
    +aspect-ratio-img('mr-gift' ,'./assets/images/mr/gif/gift.gif')
    +aspect-ratio-img('mr-milk-bag' ,'./assets/images/mr/gif/milkbag.gif')
    +aspect-ratio-img('mr-tiles-gif' ,'./assets/images/mr/gif/tiles-gif.gif')
    +aspect-ratio-img('mr-powerups-1' ,'./assets/images/mr/powerups.png')
    .mr-powerups-2.aspect-ratio-box
    .mr-sticker-lg#mr-sticker-lg.allow-overflow
        img(src='./assets/images/mr/stickers/large/blender.png')

    //- Poof stuff, idk if we will use this at all
    //- +aspect-ratio-img('mr-sticker-lg-poof allow-overflow' ,'./assets/mr-makes/smokes/smokey_0002_Layer-7.png', 'mr-sticker-lg-poof')
    //- .mr-sticker-poof-lg.aspect-ratio-box.allow-overflow
    //-     .aspect-ratio-box-inside
    //-         .flexbox-centering
    //-             .sticker-poof-wrapper
    //-                 .sticker-poof#sticker-poof-anim

    +aspect-ratio-img('mr-sticker-sm-1' ,'./assets/images/mr/stickers/small_1/box_bolts.png', 'mr-sticker-sm-1')
    +aspect-ratio-img('mr-sticker-sm-2' ,'./assets/images/mr/stickers/small_2/insects_bag-of-garbage.png', 'mr-sticker-sm-2')
    +aspect-ratio-img('mr-powerups-2' ,'./assets/images/mr/icons.png')
    +aspect-ratio-img('mr-lemoon' ,'./assets/images/mr/lemoon.png')
