include aspect-ratio-img

.rh-layout
    .rh-intro
        .rh-text
            .rh-title.section-title Ryan Holmes
            .rh-subtitle.section-subtitle
                div A game of fun and adventure
                img(src='./assets/ryan-holmes/itch-io-badge.png')
            .rh-description.section-description
                | Ryan Holmes is short pixel-art game featuring all original artwork. It was made with Unity3D during a university course on game engines.

        .rh-trailer.aspect-ratio-box
            .rh-trailer-frame
                video(controls='' width='100%')
                    source(src='https://test-videos.co.uk/vids/bigbuckbunny/mp4/h264/1080/Big_Buck_Bunny_1080_10s_1MB.mp4' type='video/mp4')
                    | Sorry, your browser doesn&apos;t support embedded videos.
    .rh-img-grid
        +aspect-ratio-img('rh-mom crisp','./assets/ryan-holmes/mom.png')
        +aspect-ratio-img('rh-carry crisp','./assets/ryan-holmes/ryan-carry.gif')
        +aspect-ratio-img('rh-jump crisp','./assets/ryan-holmes/ryan-jump.gif')
        +aspect-ratio-img('rh-dad crisp','./assets/ryan-holmes/dad.png')
    .rh-scene-wrapper
        +aspect-ratio-img('rh-scene crisp','./assets/ryan-holmes/scene.png')