.rh-layout
    .rh-intro
        .rh-text
            .rh-title.section-title Ryan Holmes
            .rh-subtitle.section-subtitle A game of fun and adventure
            .rh-description.section-description
                | Ryan Holmes is short pixel-art game featuring all original artwork. It was made with Unity3D during a university course on game engines.
        .rh-trailer
            .rh-trailer-frame
                //- video(controls='' width='100%')
                //-     source(src='./assets/videos/portrait_v1.mp4' type='video/mp4')
                //-     | Sorry, your browser doesn&apos;t support embedded videos.
    .rh-img-grid
        .rh-mom.aspect-ratio-box
        .rh-carry.aspect-ratio-box
        .rh-jump.aspect-ratio-box
        .rh-dad.aspect-ratio-box
    .rh-scene